<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html";charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script 
  src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script 
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script 
  Ssrc="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Admin login</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
crossorigin="anonymous">
</head>
<body>

       <nav class="navbar navbar-expand-lg navbar-light bg-light"
	th:fragment="navbar">
	<a class="navbar-brand" href="#">LOGO</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item "><a class="nav-link" href="/editProfile">Edit-profile
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/bookTicket">BookTicket</a></li>
			<!-- <li class="nav-item"><a class="nav-link" href="/showStations">Stations</a>
			</li> -->
			<li class="nav-item"><a class="nav-link" href="/history">History</a>
			</li>
			
			<li class="nav-item"><a class="nav-link" href="/upcoming">Upcoming journey</a>
			</li>
			
			
			
			<li class="nav-item"><a class="nav-link" href="/cancelTicket">Cancel Ticket</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/contactus">ContactUs</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a>
			</li>
		</ul>
	</div>
</nav>
          



















</body>
</html>